<div class="consulta-ctn">
  <h5 class="card-header">CONSULTAR CLIMA</h5>
  <div class="card-body">
    <div class="card-text">
      <label>Pais</label>
      <input class="form-control" type="text" [(ngModel)]="pais" />
    </div>

    <div class="card-text">
      <label>Ciudad</label>
      <input class="form-control" type="text" [(ngModel)]="ciudad" />
    </div>

    <div class="boton">
      <div>
        <button
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          (click)="realizarBusqueda()"
        >
          Buscar Clima
        </button>
      </div>
    </div>
  </div>
</div>
